.hamburger-menu-icon {
  display: none;
}
.hamburger-menu-icon,
.notification-bell-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile-picture-icon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.account-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
@media screen and (max-width: 1100px) {
  .hamburger-menu-icon {
    display: flex;
  }
}
