.fickleflight-logo-icon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.explore {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-100);
  text-align: left;
  display: inline-block;
}
.explore,
.search {
  position: relative;
  cursor: pointer;
}
.navigation-menu,
.offers {
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--components-button-large);
}
.offers {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: inline-block;
}
.navigation-menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-11xl);
}
.navigation-right {
  justify-content: flex-end;
  gap: var(--gap-17xl);
}
.navigation-right,
.top-container,
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-container {
  flex: 1;
  justify-content: space-between;
}
.top-header {
  align-self: stretch;
  background-color: var(--primary-contrast);
  height: 77px;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-61xl);
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .top-header {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigation-menu {
    display: none;
  }
  .top-header {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .navigation-right {
    display: flex;
  }
}
