.popular-stays1,
.view-all-stays {
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
  flex-shrink: 0;
}
.popular-stays1 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  width: 1105.34px;
}
.view-all-stays {
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--color-cornflowerblue-200);
  text-align: right;
  width: 140.66px;
}
.arrow-right-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.view-all-stays-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--primary-contrast);
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.hotel-cards,
.popular-stays-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hotel-cards {
  justify-content: flex-start;
  margin-left: -12px;
  margin-right: -12px;
  font-size: var(--font-size-base);
}
.view-all-stays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 140.66px;
  flex-shrink: 0;
}
.mobile-view-all-stays,
.popular-stays {
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile-view-all-stays {
  border-radius: var(--br-12xl);
  background-color: var(--primary-contrast);
  display: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-200);
}
.popular-stays {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-300);
  font-family: var(--components-button-large);
}
@media screen and (max-width: 1200px) {
  .hotel-cards {
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    margin-left: -12px;
    margin-right: -50px;
  }
}
@media screen and (max-width: 1100px) {
  .view-all-stays-button {
    display: none;
  }
  .hotel-cards {
    margin-right: -50px;
    margin-left: -12px;
  }
  .view-all-stays1 {
    width: auto;
  }
  .mobile-view-all-stays {
    display: flex;
    margin-top: 16px;
  }
}
@media screen and (max-width: 650px) {
  .popular-stays1 {
    font-size: var(--font-size-3xl);
  }
  .hotel-cards {
    flex-direction: column;
    padding-right: 0;
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;
  }
}
