.find-the-best,
.lets-explore {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 400;
}
.lets-explore {
  font-size: inherit;
  line-height: 67px;
  font-family: inherit;
}
.find-the-best {
  font-size: var(--font-size-5xl);
  line-height: 32px;
  font-family: var(--components-button-large);
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.search-flights {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.radio,
.radio1 {
  position: absolute;
  top: 0;
  left: 0;
}
.radio1 {
  left: 106px;
}
.flight-type {
  position: relative;
  width: 216.53px;
  height: 38px;
}
.flight-options,
.form-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.form-title-group {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-8xs);
  gap: var(--gap-8xs);
}
.departure-field {
  align-self: stretch;
  flex: 1;
}
.arrival {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
}
.label-container {
  background-color: var(--primary-contrast);
  height: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
}
.avatar {
  border-radius: var(--br-45xl);
  background-color: var(--color-silver);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 18px;
}
.typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--text-primary);
}
.cancel-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.container {
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.los-angeles-la {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--text-primary);
  text-align: left;
}
.active {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-dimgray);
}
.arrival-field,
.input,
.inputs-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 56px;
  flex-direction: column;
  padding: 0 var(--padding-xs);
}
.arrival-field,
.inputs-row {
  flex: 1;
}
.arrival-field {
  align-self: stretch;
  flex-direction: column;
}
.inputs-row {
  flex-direction: row;
  padding: var(--padding-8xs);
  gap: var(--gap-3xs);
}
.button1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--components-button-large);
  color: var(--primary-contrast);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.button-group,
.search-flights-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-flights-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}
.search-flights-button:hover {
  background-color: var(--color-saddlebrown);
}
.button-group {
  padding: var(--padding-8xs);
}
.form-inputs-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.search-container,
.search-form {
  display: flex;
  flex-direction: column;
}
.search-form {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--primary-contrast);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-300);
  font-family: var(--components-button-large);
}
.search-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-121xl);
  box-sizing: border-box;
  gap: var(--gap-24xl);
}
.search-section {
  align-self: stretch;
  position: relative;
  height: 639.91px;
  background-image: url(/public/search-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-42xl);
  color: var(--primary-contrast);
  font-family: var(--font-baloo-bhai);
}
@media screen and (max-width: 1100px) {
  .inputs-row {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .search-flights-button {
    margin-right: auto;
  }
  .button-group {
    width: 100%;
    text-align: left;
  }
  .form-inputs-row,
  .search-form {
    flex-direction: column;
  }
  .search-container {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .lets-explore {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .search-flights {
    width: 100%;
    padding-bottom: var(--padding-3xs);
    margin-bottom: 6px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    flex: unset;
    align-self: stretch;
  }
  .flight-type {
    width: 100% !important;
  }
  .flight-options {
    width: 100%;
  }
  .form-title-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .arrival-field,
  .departure-field {
    flex: unset;
    align-self: stretch;
  }
  .inputs-row {
    flex-direction: column;
  }
  .search-flights-button {
    width: 100% !important;
  }
  .search-form {
    margin-top: 20px;
  }
}
